npm init -y
npm install express passport passport-google-oauth20 express-session mongoose dotenv mysql2 multer nodemailer
npm install google-auth-library
npm install ejs
npm install bcryptjs jsonwebtoken uuid body-parser